<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="intro-container">
        <h5 class="intro">Hey {{ name }}, Welcome to your dashboard!</h5>
        <p class="intro-question">Please select an option from the buttons below</p>
    </div>

    <div class="button-container">
        <button class="dash-options" id="view-all">View All Products in Inventory</button>
        <button class="dash-options" id="add-product">Add Product to Inventory</button>
        <button class="dash-options" id="update-product">Update Product Details</button>
        <button class="dash-options" id="remove-product">Remove Product from Inventory</button>
    </div>

    <script src="/js/dashboard.js"></script>
</body>
</html>
