<div class="intro-container">
    <h5 class="intro">Hey {{ name }}, Welcome to your dashboard!</h5>

    <p class="intro-question">Please select an option from the buttons below</p>
</div>

<div class="button-container">
    <button class="dash-options">View All Products in Inventory</button>
    <button class="dash-options">Add Product to Inventory</button>
    <button class="dash-options">Update Product Details</button>
    <button class="dash-options">Remove Product from Inventory</button>
</div>