<h3><i class="fas fa-book-reader"></i> Welcome to Staying In, La Jolla</h3>
<div class="section">
    <p class="lead">Visit site or login to Manage Inventory</p>
</div>

{{!-- button to log in with google and route to google OAuth2.0 login --}}
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn grey darken-2">
        <i class="fab fa-google left"></i> Log In with Google!
    </a>
</div>
{{!-- button to visit showcase of Staying In Products --}}
<div class="divider"></div>
<div class="section">
    {{!-- add route to homepage of customer website --}}
    <a href="/" class="btn blue darken-1">
        <i class="fa-regular fa-face-smile"></i>  Visit our Showcase!
    </a>
</div>

{{!-- btn to visit instagram --}}
<div class="divider"></div>
<div class="section">
    {{!-- link to IG homepage --}}
    <a href="https://www.instagram.com/stayinginlj/" class="btn pink darken-1">
        <i class="fa-brands fa-instagram"></i>  Follow us on Instagram!
    </a>
</div>