<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<ul>
				<li><a href="#">CLASSES</a></li>
				<li><a href="#">HIRE US</a></li>
			</ul>
			<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/lg-logo.png" alt="LG">
			<a href="#">DONATE</a>
		</header>
		<main>
			<section>
				<!-- Main Gray section -->
				<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laborum eligendi quam praesentium esse nulla non distinctio unde voluptas molestiae aperiam laudantium explicabo saepe deleniti ad quibusdam, maiores velit mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque. Eveniet deserunt, fuga ullam culpa dolorem dolor modi porro deleniti, consectetur in adipisci iste quaerat corrupti fugiat distinctio enim iure.</p>
				<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/play-button.png" alt="playButton">
				<a href="#">Watch the Video</a>
			</section>
		</main>
		<section class="why">
			<!-- second section "why" -->
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit et, enim alias voluptatibus, nobis nemo, suscipit quibusdam voluptas cupiditate Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam deserunt soluta tempora quae cumque molestiae quisquam at quaerat saepe! Cum non laboriosam assumenda? Maxime sed repellat beatae odio cumque recusandae.</p>
		</section>
		<section class="logoHolder">
			<section class="thirdLeft">
				<!-- 3rd section -->
				<img class="leftImg" src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/blankLogo.png">
				<h3>VISIT THE GYM</h3>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi odio officia debitis quasi tenetur perferendis minima eligendi laborum explicabo ipsum</p>
				<nav class="leftSide">
					<span><a class="navigator" href="#">SEE CLASSES</a></span>
				</nav>
			</section>
			<section>
				<section class="thirdRight">
					<img class="rightImg" src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/blankLogo.png" alt="blankLogo2">
					<h3>HAVE US VISIT YOU</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi odio officia debitis quasi tenetur perferendis minima eligendi laborum explicabo ipsum</p>
					<nav>
						<span><a class="navigator" href="#">HIRE US</a></span>
					</nav>
				</section>
		</section>
		<section class="volunteer">
			<h3>VOLUNTEER WITH LEVEL GROUND</h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In sed numquam perferendis illo eius, voluptatem, ducimus doloremque porro eveniet officia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis perspiciatis aliquid omnis unde quod quia consequuntur eligendi provident atque, repellendus totam sunt odio! Architecto sunt, repellat eligendi nihil neque mollitia.</p>
			<span><a class="navigator" href="#">VOLUNTEER</a></span>
		</section>
		<footer>
			<section class="leftFoot">
				<section class="footLogos">
					<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/facebookLogo.png" alt="FBlogo">
					<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/twitterLogo.png" alt="TwitterLogo">
					<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/emailLogo.png" alt="EmailLogo">
				</section>
				<nav class="footNav">
					<h6>SITE MAP</h6>
					<span><a href="#">SEE CLASSES</a></span>
					<span><a href="#">HIRE US</a></span>
				</nav>
				<section class="contribute">
					<h6>CONTRIBUTE</h6>
					<span><a href="#">Give</a></span>
					<span><a href="#">Volunteer</a></span>
				</section>
			</section>
			<section class="rightFoot">
				<span>LEVEL GROUND</span>
				<span>MIXED MARTIAL ARTS</span>
				<address class="address">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus minima
				<a class="phone" href="phone">410-553-2210</a>
				<a class="email" href="email">ali@levelgroundmma.org</a>
				</address>
			</section>
			<!-- figure out how to put a line across 90% in css for the linebreak -->
			<!-- trademark lorem -->
			<section class="theBottom">
				<p class="lastLine">Level Ground lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae inventore, totam under the IRS</p>
				<a class="bottomLine ein" href="EIN">EIN: 46-3915852</a>
				<img src="/Users/angelhome/Desktop/100devs/CLASS_10/level-ground/template/media/lg-logo.png" alt="LGlogo">
			</section>
		</footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
