body {
    background: rgb(128, 166, 179);
}

p{
    margin: 10px 0 !important;
}
 
.login-container {
    width: 40%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.button-container, .intro-container{
    width: auto;
    justify-content: center;
    margin: auto;
}
.button-container{
    width: 75%;
}
.dash-options {
    justify-content: center;
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    width: 200px;
    text-decoration: none;
    margin-left: 12%;
}

.dash-options:hover {
    background-color: #0056b3;
    transform: rotateY('angle', 40);
    transform: translateY(-2px);
}

.dash-options:active {
    background-color: #003f7f;
    transform: translateY(0);
}

.intro, .intro-question {
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2em;
}

form, input, textarea, select, label, input::placeholder, textarea::placeholder {
    color: white;
}

form {
    height: 90vh;
    width: auto;
}

select {
    display: block;
    background-color: #42A5F5;
    color: white;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    display: block;
}

#name, #description, 
#amount_paid,
#listing_price,
#sold_price,
#acquisition_miles,
#additional_notes,
#acquisition_location,
#acquisition_entry_cost,
#image {
    background-color: #42A5F5;
    color: white;
}


#addProductH1 {
    font-family: 'Arial', sans-serif;
    color:  white;
    text-shadow: 2px 2px 4px gray;
    background: linear-gradient(to right, #42A5F5, #007bff);
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 3px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #42A5f5;
}
