<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<!-- http://placekitten.com/g/ for the photos -->
			<nav>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Menu</a>
					</li>
					<li>
						<a href="#">Order Now</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
				</ul>
				<ul class="headerLogos">
					<li><a href="#"><img src="#" alt="cartLogo"></a></li>
					<li><a href="#"><img src="#" alt="searchLogo"></a></li>
				</ul>
			</nav>
		</header>
			<main>
				<section class="containerBox">
					<h1>Welcome to our Cuisine Restaurant.</h1>
					<section class="buttonHolderMain">
						<form action=""><input type="text"></form>
						<button>Location</button>
					</section>
					<div class="logoHolderMain">
						<img src="#" alt="FBlogo">
						<span>252k</span>
						<img src="#" alt="Xlogo">
						<span>62k</span>
						<img src="#" alt="IGlogo">
						<span>55k</span>
					</div>
					<section class="backgroundImg">
						<img src="https://placehold.co/700x410" alt="flowers">
					</section>
				</section>
				<section class="containerBox secondMain">
					<section class="h2BgImg">
						<img src="https://placehold.co/600x400" alt="breakfast">
					</section>
					<h4>About Us</h4>
					<h2>Discover our Restaurant Story</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit, autem cumque recusandae quod beatae, molestiae cum vel mollitia hic aut expedita odio saepe? Ad soluta autem amet quae repellendus!</p>
					<div class="buttonH2">
						<button>
							<a href="#">Discover Menu</a>
						</button>
					</div>
				</section>
			</main>
			<section class="containerBox specialtyCuisine">
				<h5>Order Online Now</h5>
				<h3>Our Specialty Cuisine</h3>
				<section>
					<ul class="meals">
						<li>
							<a href="#">Breakfast</a>
						</li>
						<li>
							<a href="#">Lunch</a>
						</li>
						<li>
							<a href="#">Dinner</a>
						</li>
						<li>
							<a href="#">Dessert</a>
						</li>
						<li>
							<a href="#">Shakes</a>
						</li>
					</ul>
				</section>
				<section class="mealPhotos">
					<ul>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="Contadina1">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="Salad2">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="toast3">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="avoToast4">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="eggs5">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="lightMeal6">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="beansAndSausage7">
						</li>
						<li>
							<img src="http://placekitten.com/g/200/200" alt="ToastAndEggs8">
						</li>
					</ul>
				</section>
			</section>
			<section class="hoursOfOp containerBox">
				<span class="bookTable"><a href="#">Book Table</a></span>
				<h4>Opening Hours</h4>
				<div class="phoneLogo">
					<img src="http://placekitten.com/g/50/50" alt="phone">
				</div>
				<span class="callNow">Call Now</span>
				<span class="phoneNumber"><a href="#">+12345 678 910</a></span>
				<section class="leftHours">
					<h5>Monday to Tuesday</h5>
					<div>09:00 am - 22:00 pm</div>
				</section>
				<section class="rightHours">
					<h5>Friday to Sunday</h5>
					<div>11:00 am - 20:00 pm</div>
				</section>
			</section>
			<section class="fruitBowl containerBox">
				<section>
					<img src="http://placekitten.com/g/500/600" alt="bowlOfFruit">
				</section>
			</section>
			<section class="customersSay">
				<h6>Testimonials</h6>
				<h4>Customers Say</h4>
				<section class="johnSmithFace">
					<img src="http://placekitten.com/g/50/50" alt="JohnSmith">
				</section>
				<span class="johnsName"> Mr John Smith</span>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deserunt quia obcaecati repellendus tempore, voluptatum quisquam nesciunt quas? Ducimus itaque excepturi iste molestiae corrupti esse saepe et sint necessitatibus explicabo?</p>
			</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
