<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!-- start of the header, will include logo, nav, more logos -->
		<header>
			<nav>
				<img class="ayeshaLogo" src="https://placehold.co/90x20" alt="Ayesha">
				<ul>
					<!-- Nav links -->
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Lookbook</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
					<li class="navLogo">
						<a class="navLogo" href=""><img src="https://placehold.co/10x10" alt="seachLogo"></a>
					</li>
					<li class="navLogo">
						<a class="navLogo" href="#"><img src="https://placehold.co/10x10" alt="cartLogo"></a>
					</li>
					<li class="bookOnline">
						<a class="bookOnline" href="#">Book Online</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<section class="bigMain">
					<h1>Blonde & Hightlight</h1>
					<span>Divide your uniqueness by your hair in Style</span>
					<button><a href="#">Our Services</a></button>
					<!-- space for the ad here, (skipping) approx 50p by 60px -->
				</section>
				<section class="servicesMain">
					<section class="logosMain">
						<img src="#" alt="doctorLogo">
						<h3>Expert Beauticians</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam minus qui. Quaerat officiis architecto, fugit, eaque natus, saepe asperiores quisquam sint quasi quis culpa numquam est dolorum quae eveniet.</p>
					</section>
					<section class="logosMain">
						<img src="#" alt="chairLogo">
						<h3>Quality Services</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam minus qui. Quaerat officiis architecto, fugit, eaque natus, saepe asperiores quisquam sint quasi quis culpa numquam est dolorum quae eveniet.</p>
					</section>
					<section class="logosMain">
						<img src="#" alt="cremeLogo">
						<h3>Beauty Products</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam minus qui. Quaerat officiis architecto, fugit, eaque natus, saepe asperiores quisquam sint quasi quis culpa numquam est dolorum quae eveniet.</p>
					</section>
				</section>
			</section>
			<section class="smolMain">
				<!-- make your own momentum section -->
				<section class="leftSmol">
					<!-- Make momentum and description -->
					<h2>MAKE YOUR OWN MOMENTUM</h2>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nobis, reiciendis nemo, suscipit voluptates autem assumenda ut cupiditate veritatis dolor incidunt architecto laudantium ipsum. Neque autem quasi maiores excepturi harum!</p>
					<!-- link to the read more section -->
					<button><a href="#">Read More</a></button>
				</section>
				<section class="rightSmol">
					<!-- no source for background video yet, this will do for now -->
					<a href="#"><img src="https://placehold.co/450x300" alt="haircutVid"></a>
				</section>
			</section>
		</main>
		<section class="theStylists">
			<!-- second page photos section -->
			<section class="stylistPhotos">
				<div class="ladies altia">
					<img src="https://placehold.co/175x300" alt="Alita Williams">
				</div>
				<div class="ladies">
					<img src="https://placehold.co/175x300" alt="Ayesha Lake">
				</div>
				<div class="ladies">
					<img src="https://placehold.co/175x300" alt="Michelle">
				</div>
			</section>
			<section>
				<div class="ladiesNames">
					<span>Alita Williams</span>
					<span>Ayesha Lake</span>
					<span>Michelle Smith</span>
				</div>
			</section>
		</section>
		<!-- skipping the coupon section, I think i could put the coupons in an aside but im not sure. This comment is a reminder for me to learn how to do that and then after I can update this with what I actually mean. -->
		<section class="lookBook">
			<div>
				<h3>OUR LOOKBOOK</h3>
			</div>
			<section class="photoColumnOne">
				<img src="#" alt="pinkBlueHair">
				<img src="#" alt="blackDress">	
			</section>
			<section class="photoColumnTwo">
				<img src="#" alt="OrangeHair">
				<img src="#" alt="blackSquare">
			</section>
			<section class="photoColumnThree">
				<img src="#" alt="lipstickOne">
				<img src="#" alt="lipstickTwo">
			</section>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
