{{!-- Hamburger Menu partial for main hbs --}}
<nav class="blue lighten-1">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Staying In, La Jolla</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/products">Product Management</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>