*{
    box-sizing: border-box;
    height: 99%;
    width: 99%;
}

header, footer{
    border: solid 1px black;
    display: block;
    width: 100%;
    height: 33.3333%;
    clear: both;
}

section, section + section, section + section + section{
    border: solid 1px black;
    width: 33.3333%;
    float: left;
    height: 33.3333%;
}